.color {
  height: 40px;
  width: 40px;
  display: inline-block;
  border: 1px solid black;
  margin: 0, 0, 0, 100px;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
  margin: 0;
}

.pixel-board {
  display: inline-block;
}

.line {
  height: 40px;
}